
*{
	text-align: center;
}

h1{
	padding: 30px;
	cursor: pointer;
}

#header-contenedor img{
	cursor: pointer;
	width: 500px;
	float: left;
	border-radius: 100px;
	animation: movimiento_img 2.5s linear infinite;
}

#header-contenedor img:hover{
	transform: scale(1.1);
}

#contenedor form{
	padding: 20px;
}

#contenedor #h-2{
	position: relative;
	left: 2px;
	cursor: pointer;
}

h2{
	cursor: pointer;
}

#contenedor input{
	text-align: left;
	width: 30%;
	position: relative;
	left: 180px;
	margin: 20px;
}

#contenedor #contraseña{
	position: relative;
	left: 165px;
	width: 35%;
}

#contenedor button{
	margin: 10px;
}

#footer-contenedor a{
	margin: 20px;
}

#footer-contenedor img{
	position: relative;
	right: 10px;
	margin-bottom: 20px;
	width: 40px;
}

#footer-contenedor img:hover{
	transform: scale(1.1);
}

#contenedor, #footer-contenedor{
	cursor: pointer;
}

/* Funcion de movimiento */

@keyframes movimiento_img{
	50%{
		transform: translateY(5px);
	}
}