
*{
	text-align: center;
}

#logo{
	position: fixed;
	z-index: 10;
	background: white;
	padding-bottom: 15px;
	max-width: 100%;
	background: #ecf0f1;
}

#logo a{
	text-decoration: none;
}

#logo h1{
	text-align: left;
	padding-top: 40px;
	margin-left: 90px;
	color: #52BE80;
	cursor: pointer;
}

sup{
	color: #229954;
}

#logo #loggin{
	position: relative;
	float: right;
	top: -60px;
	margin-right: 90px;
	border-radius: 60px;
}

#inicio{
	padding-top: 228px;
	margin-bottom: 50px;
}

#inicio img{
	max-width: 110%;
	cursor: pointer;
}

#inicio h2{
	padding-top: 80px;
	padding-bottom: 10px;
}

#inicio blockquote{
	text-align: left;
	padding-left: 100px;
}

#inicio p{
	padding-top: 35px;
}

#contenedor{
	margin-left: 100px;
	cursor: pointer;
}

#contenedor #contenedor-interno:hover{
	background: #D4EFDF;
	transform: scale(1.1);
	box-shadow: 5px 5px 0px #229954;
}

#comentarios{
	margin: 50px;
	padding: 30px;
}

#comentarios img{
	position: relative;
	bottom: 100px;
	left: 30px;
	max-width: 10%;
	border-radius: 16px;
	cursor: pointer;
}

#comentarios textarea{
	margin: 50px;
	height: 50%;
	width: 50%;
	border-radius: 6px;
	font-size: 20px;
}

#comentarios button{
	position: relative;
	right: 160px;
	padding: 10px 20px;
	background: #46a2fd;
	border: none;
	color: #fff;
	cursor: pointer;
	border-radius: 6px;
}

#footer h2{
	color: white;
}

#footer img{
	margin: 10px;
	padding: 10px;
	max-width: 60px;
}

#footer img:hover{
	transform: scale(1.1);
}