
*{
	font-family: cursive;
	text-decoration: none;
	list-style: none;
	text-align: center;
	margin: 0;
}

body{
	background: #E8DAEF;
}

header{
	background: #C39BD3;
	position: fixed;
	width: 100%;
	z-index: 10;
	padding: 16px;
}

ul{
	display: flex;
}

ul li{
	padding: 10px;
	font-size: 20px;
	box-shadow: 2px;
}

#logo{
	margin: 5px;
	padding: 5px;
	padding-top: 120px;
}

#logo h1{
	cursor: pointer;
}

#logo img{
	animation: movimiento_logo 2.5s linear infinite;
	position: relative;
	top: -45px;
	left: 250px;
	max-width: 50px;
	border-radius: 50%;
	z-index: 1;
}

div{
	display: inline-block;
}

div p{
	margin-top: 16px;
}

#Programacion, #Algoritmos, #Componentes, #Areas{
	background: #D2B4DE;
	padding: 20px;
	margin: 20px;
	border-radius: 5%;
	max-width: 60%;
}

div img{
	max-width: 40%;
	border-radius: 10%;
	z-index: 1;
	cursor: pointer;
}

button{
	border: none;
	background: #E8DAEF;
}

button a img{
	border-radius: 20%;
	max-width: 40%;
	margin-top: 16px;
}

footer{
	padding: 10px;
	margin: 10px;
}

/* Uso de hover */

ul li:hover{
	transform: scale(1.1);
	background: #EBDEF0;
	border-radius: 10px;
}

div img:hover, footer img:hover{
	transform: scale(1.1);
}

/* Movimiento de la imagen */

@keyframes movimiento_logo{
	50%{
		transform: translateY(0);
	}

	50%{
		transform: translateX(30px);
	}

	100%{
		transform: rotate(-200deg);
	}
}